@import "/css/bulma.min.css";

.hero.has-intro-background {

}

.container {
    max-width: 800px !important;
}

.has-padding {
    padding: .25rem;
}

.has-margin-bottom {
    margin-bottom: 1rem;
}
